:root {
 --sz-14: 14px;
 --sz-16: 16px;
 --sz-18: 18px;
 --sz-20: 20px;
 --sz-24: 24px;
 --sz-32: 32px;
 --sz-42: 42px;
 --sz-52: 52px;
 --sz-64: 64px;
 --sz-72: 72px;

 --tx-black: #000;
 --tx-white: #fff;
 --tx-dark: #191919;
 --tx-dark2: #1e1e1e;

 --bg-black: #000;
 --bg-white: #fff;
 --bg-blue: #2e4fd7;
}
/* :root.dark {
} */
